/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */
.body {
    color:white;
}

.recept-komentare,
.recept-kategorie {
    font-weight: 400;
    font-size: 14px;
}

.hlavni-recept {
    background-image: url(images/salat.jpg);
    min-height: 200px;
}

.recept2 {
    background-image: url(images/chlebicek.jpg);
}

.recept3 {
    background-image: url(images/tacos.jpg);
}

.recept4 {
    background-image: url(images/cizrna.jpg);
}

.recept5 {
    background-image: url(images/burger.jpg);
}

.recept {
    min-height: 90px;
}

.recept, .hlavni-recept {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10px;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recept-meta {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-shadow: 1px 1px #303030;
}

.recept-nazev {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-shadow: 1px 1px #303030;
    margin: 0;
}

.recept-nazev1 {
    font-size: 28px;
    text-shadow: 1px 1px b#303030;
    margin: 0;
}


@media (min-width: 480px) {
    
    .hlavni-recept {
        min-height: 250px;
        width: 100;
    }

    .recept-nazev {
        font-size: 22px;
    }

    .recept {
        min-height: 150px;
    }

    .recept, .hlavni-recept {
        padding: 20px;
    }

    .recept-nazev1 {
        font-size: 36px;
    }

    .recepty {
        display: flex;
        flex-wrap: wrap;
    }

    .recept2,
    .recept3,
    .recept4,
    .recept5 {
        flex: 1 1 50%;
    }

}


@media (min-width: 860px) {
    
        .recept-nazev {
            font-size: 28px;
        }
    
        .recept-nazev1 {
            font-size: 48px;
        }
    
        .recept {
            min-height: 200px;
        }

        .doporucujeme {
            display: flex;
        }

        .hlavni-recept {
            min-height: 400px;
            flex: 1 1 calc (100% / 3);
            border-right: 1px solid white;
        }

        .recepty {
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid white;
        }

        .recept2,
        .recept3,
        .recept4,
        .recept5 {
            flex: 1 1 50%;
        }
}